# Main CI pipeline - includes component-specific configurations
include:
  - '.gitlab-ci-backend.yml'
  - '.gitlab-ci-frontend.yml'

stages:
  - test
  - build
  - deploy

variables:
  DOCKER_DRIVER: overlay2

workflow:
  rules:
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"'
    - if: '$CI_COMMIT_BRANCH == "main"'
    - if: '$CI_COMMIT_TAG'